# Project exclude paths
/venv/bin
/venv/lib
/venv/Archive
/venv/include
/venv/static
/venv/templates
/venv/*.zip
/venv/*.npy
/venv/*.cfg
# Elastic Beanstalk Files
../.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.ebignore.save
*.ebignore.save.1
/.idea
/.elasticbeanstalk
