html {
    height: 100%;
    font-size: 1rem;
}


@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
/*

html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
      background: #3BC4B4;
        font-family: Arial, Helvetica, sans-serif;
        background: -webkit-gradient(linear, left top, left bottom, #3BC4B4, #60cfc2) fixed;
  margin:0;
}
*/


body {
    background-color: #3BC4B4 !important;
}


#topnavbar .topnav {
  overflow: hidden;
  background-color: #333;
}

#topnavbar .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#topnavbar .topnav a:hover {
  background-color: #ddd;
  color: black;
}

#topnavbar .topnav a.active {
  background-color: #703BC4;
  color: white;
}

#search_results_pane {
    background-color: #d8d8d8;
}







/*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

/* Sticky Footer Classes */

.footer {
  flex-shrink: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

